#buttonStatus{
    margin-left: 1200px;
}

#tableStudent{
    margin-left: 350px;
}
input{
    color:black;
    border: 1px rgb(80, 80, 80);
    background-color: #e0ebeb;
}
#exampleModalLabel{
    margin-left: 200px;
}
#buttonactivity{
    margin-left: 800px;
   
}